$headerheight: 100px;

$colorblue: #00639a;

$colorgreen: #66a61f;
$colorgreenlight: #8cbc72;
$colorgreendark: #006249;
$colorgreenbutton: #66a61f;

$colorred: #df150d;

$colorwhite: #fff;

$colorgrey: #e6e6e6;

$colorgreybutton: #ccd2d7;
$colorgreyborder: #ccd2d7;

$colorblack: #000;
